.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: burlywood;
    align-items: center;

    .brand {
        padding-left: 20px;

        .logo {
            font-size: 1.5rem;
        }
    }

    .nav-menu {
        direction: rtl;
        padding: 0 20px 0 20px;

        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: start;

            .nav-item {
                padding-left: 1rem;
            }
        }
    }
}
